.linkclass {
    margin: 10px;
    padding-top: 20px;
    color: whitesmoke;
    font-size: 15px;
}

.linkclass:hover {
    color:whitesmoke;
    font-size: 16px; 
}

.linkclass1 {
    margin: 0px;
    color: whitesmoke;
    font-size: 15px;
}

.linkclass1:hover {
    color:whitesmoke;
    font-size: 16px; 
}

.profileimage {
    height: 350px;
    margin-bottom: 20px;
}

.toplookout {
    margin-top: 65px;
    margin-bottom: 150px;
}


.match {
    background-color: #b5d5df;
    margin:5px;
    color: #0c5970;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.match:hover {
    background-color: #b5d5df;
    color: #0c5970;
    margin:5px;
    margin-bottom: 10px;
    padding: 35px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.league {
    color: #0c5970;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.league:hover {
    color: #0c5970;
    margin-bottom: 10px;
    padding: 35px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.titles {
    margin-left: 30px;
    font-size: 25px;
    padding: 10px;
    color:#0c5970
}

.linkss {
    color: whitesmoke;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer
}

.linkss:hover {
    color: whitesmoke;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer
}

.titleModal {
    margin: 0 auto;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
}

.modalfield {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.btn-danger {
    background-color: #00656d !important;
    border-color: #00656d !important;
    transition: all 250ms ease-in;
}

.btn-danger:hover {
    background-color: #00363a !important;

}