.league_type {
    display: block;
    top: 0px;
    position: relative;
    width: 262px;
    background-color: #f2f8f9;
    border-radius: 20px;
    // padding: 32px 24px;
    margin: 45px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.3);
    transition: all 200ms ease-out;

    &:hover {
        
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.5);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: white;

        .league_type_details:before {
            transform: scale(21);
        }

        .league_type_details {
            transition: all 0.3s ease-out;
            color: #fff;

            p {
                transition: all 0.3s ease-out;
                color: rgba(255, 255, 255, 0.8);
            }
            h3 {
                transition: all 0.3s ease-out;
                color: #ffffff;
            }
        }
    }
}


.league_type_details {
    display: block;
    position: relative;
    width: 100%;
    background-color: #f2f8f9;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #00838d;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-out;
    }

    &:hover:before {
        transform: scale(21);
    }
}

.league_type_details:hover {
    transition: all 0.3s ease-out;
    color: #fff;

    p {
        transition: all 0.3s ease-out;
        color: rgba(255, 255, 255, 0.8);
    }
    h3 {
        transition: all 0.3s ease-out;
        color: #ffffff;
    }
}
